.booking-form {
    width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
}

button {
    padding: 0.75rem;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #005f8d;
}
