@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto SemiBold';
    src:url('../fonts/Roboto/Roboto-SemiBold.ttf');
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    color: black;
    height: 64px;
    font-family: 'Roboto';

}

.left {
    display: flex;
    align-items: center;
    margin-left: 64px;
}

.logo-img {
    width: 64px;
}

.logo {
    font-size: 2rem;
    color: black;
    margin-left: 1rem;
    font-family: 'Roboto SemiBold';
}
.right {
    display: flex;
    align-items: center;
}
.items {
    display: flex;
    margin-right: 2rem;
}
.items li{
    list-style: none;
    margin: 0 15px;
}
.items li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.items li a:hover{
    color: #120A51;
    text-decoration: underline;
}
.right button {
  margin-right: 2rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.login-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
}

.signup-btn {
  background-color: #120A51;
  color: white;
  border: 2px solid black;
  border-radius: 12px;
}

.login-btn:hover {
  background-color: #f0f0f0;
}

.signup-btn:hover {
  background-color: #281a91;
}