.route-results {
    margin: 2rem;
}

.route-item {
    background-color: #f9f9f9;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
}

button {
    background-color: #003366;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #005f8d;
}
