.ticket-search {
    background-color: #1AC8C8;
    padding: 40px;
    color: white;
    text-align: center;
}

.ticket-search h2 {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.input-field, .select-field {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.input-field {
    width: 150px;
}

.select-field {
    width: 150px;
}

.search-button {
    margin-top: 0px;
    padding: 12px 20px;
    background-color: #120A51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
     background-color: #281a91;
}
.error-message {
  color: red;
  margin-top: 20px;
}
.results {
  margin-top: 20px;
}
.ticket {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket p {
  margin: 5px 0;
}