.ticket-search {
    background-color: #1AC8C8;
    padding-top: 40px;
    color: black;
    text-align: center;
}

.ticket-search-forms {
  background-color: #1AC8C8;
  padding-bottom: 40px;
}
.ticket-search h2 {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.input-field, .select-field {
    border-radius: 5px;
    border: none;
    font-size: 14px;
    height: 59px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-field {
    width: 150px;
}

.select-field {
    width: 150px;
}

.search-button {
    margin-top: 0px;
    padding: 12px 20px;
    background-color: #120A51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #281a91;
}
.error-message {
    color: red;
    margin-top: 20px;
}
.results {
    margin-top: 20px;
}
.ticket {
    background-color: #DAD9D9;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket p {
  margin: 5px 0;
}

.ticket-search-results {
  
    padding-top: 10px;
    background-color: #DAD9D9;
    width: 100%;
    
    padding-bottom: 10px;
}